.Profilepage {
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;

  text-align: center;
  display: c;
  align-items: center;
}
.logoz {
  cursor: pointer;
  width: 3%;
  height: auto;
  text-decoration: none;
  left: -1.2em;
}
