*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dank Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;

  font-size: 16px;
  color: var(--main-text-color);

  margin: 0;
  background-color: #ffffff;
}
