.header {
  nav {
    border-radius: 6px;
    margin: 20px;
    padding: 50px;
    display: flex;
    color: #171111;

    & a + a,
    span + a {
      margin-left: 20px;
    }
    a {
      text-decoration: none;
      color: #121314;
      &:hover {
        color: #df38d1;
      }
    }

    & div {
      margin-right: auto;
      display: flex;
      gap: 20px;
    }
  }
}
/* Default styles for navbar */
.navbar {
  width: 800px;
  /* other styles */
}
/* Media query for iPhone screens */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  padding: 120px;
  color: #fff;
  margin-top: 10%;
  font-size: 16px;
  background-color: #1f232a;

  & label {
    display: flex;
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Raleway;
  }
}

.image {
  cursor: pointer;
  width: 3%;
  height: auto;
  text-decoration: none;
  left: -1.2em;
  color: #121314;
}
.body {
  align-items: center;
}
.logo {
  size: 30px;
}
.textii {
  text-align: center;

  align-items: center;
  color: #f2f9ff;
}
.footerogo {
  display: flex;
  flex-direction: row;
  position: center;
  align-items: left;
  font-family: Raleway;
}
.facebookIcon {
  height: 1.2cm;
}
