@media screen and (max-width: 600px) {
  /* Stilregeln für kleine Bildschirme */
}

.image {
  width: 350px;
  height: 460px;
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10%;
}
.text {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 72px;
  color: rgb(12, 12, 12);
  text-align: center;
}
.main {
  justify-content: center;
  background-image: -moz-element(padding-right);
  align-items: center;
  display: inline-block;
}
.privet {
  justify-content: center;
  display: flex;
  align-items: center;
}
.regi {
  justify-content: center;
  text-decoration: none;

  align-items: center;
}
.divElementOne {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}
.ima {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fis {
  text-align: center;
}

.butt {
  border: none;

  padding: 10px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.regi {
  text-decoration-color: black;
}

.blick {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 600px;
  height: 600px;
}
.ita {
  width: 180px;
  height: 260px;
}
.sec {
  display: grid;
  justify-content: center;
  align-items: center;
}
.discription {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 600px;
  height: 600px;
}

.mitte {
  align-items: center;
  display: inline-block;
  text-align: center;
}

.image2 {
  width: 180px;
  height: 300px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 100%;
}
.cont {
  align-items: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;

  //   width: 450px;
  //   height: 350px;
  //   border: 3px solid #ccc;
  //   background: #2d2828;
  //   margin: auto;
  //   padding: 15px 25px;
}
.image3 {
  background-image: -moz-radial-gradient(flex);
  width: 500px;
  height: 700px;
  border-radius: 10%;
}
.group {
  display: flex;
  justify-content: center;
  align-items: center;
}
// .divElementzero {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   width: 600px;
//   height: 600px;
// }
.divElementzeri {
  display: flex;
  justify-content: center;
  align-items: center;
}
.texti {
  display: block;
}

.animation {
  animation-timing-function: ease-in-out;
}
.button {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #191717;
  display: inline-block;

  font-size: 14px;

  padding: 8px 40px;
  margin: 5px;
}
.button :hover {
  background-color: #fad2d2;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15%;
}
.p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 48px;
  color: rgb(12, 12, 12);
  text-align: center;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
}
.image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid 'ccc';
}
