@media screen and (max-width: 600px) {
  /* Stilregeln für kleine Bildschirme */
}
.flex1 {
  display: flex;
}

.backgroundimage {
  width: 350px;
  height: 460px;
  display: block;
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 45px;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-style: initial;
  text-decoration: none;
  font-size: 82px;
  color: rgb(12, 12, 12);
  text-align: center;
  margin-top: 10%;
}

.main {
  justify-content: center;
  background-image: -moz-element(padding-right);
  align-items: center;
  display: inline-block;
}
.privet {
  justify-content: center;
  display: flex;
  align-items: center;
}

.divElementOne {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 190px;
  margin-right: 190px;
  border-radius: 35px;
  padding-bottom: 4%;
}

.fis {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
}

.divElementzeri {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
}

.blick {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 4%;
}

.painting {
  position: absolute;
  top: 95%;
  right: 72%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: #0f0e0e;
  border-radius: 35px;

  display: inline-block; /* Um den Text innerhalb eines Rechtecks anzuzeigen */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  height: 1cm;
  width: 5cm;
  padding: 10px;
  &:hover {
    background-color: rgba(11, 11, 11, 0.5);
    color: #fff;
  }
  height: 1cm;
  width: 6cm;
}
.text2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 300px;
  padding-right: 300px;
}
.texttitle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphicdesign {
  position: absolute;
  top: 95%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: #0f0e0e;
  border-radius: 35px;

  display: inline-block; /* Um den Text innerhalb eines Rechtecks anzuzeigen */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);

  padding: 10px;
  &:hover {
    background-color: rgba(11, 11, 11, 0.5);
    color: #fff;
  }
  height: 1cm;
  width: 6cm;
}

.industrialdesign {
  position: absolute;
  top: 95%;
  right: 22%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: #0f0e0e;
  border-radius: 35px;

  display: inline-block; /* Um den Text innerhalb eines Rechtecks anzuzeigen */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);

  padding: 10px;
  &:hover {
    background-color: rgba(11, 11, 11, 0.5);
    color: #fff;
  }
  height: 1cm;
  width: 6cm;
}

.jewelry {
  position: absolute;
  top: 95%;
  left: 88%;
  transform: translate(-50%, -50%);
  font-size: large;
  color: #0f0e0e;
  border-radius: 35px;

  display: inline-block; /* Um den Text innerhalb eines Rechtecks anzuzeigen */
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);

  padding: 10px;
  &:hover {
    background-color: rgba(11, 11, 11, 0.5);
    color: #fff;
  }
  height: 1cm;
  width: 6cm;
}
.connectUs {
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  &:hover {
    color: #df38d1;
  }
}
